<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>동국대 2019년 2학기 과제 3</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        <a href="/logout" class="btn btn-success btn-sm" role="button" aria-pressed="true">Logout</a> 안녕하세요 <span
            th:text="${username}"></span> 님
    </div>

</div>
</body>
</html>